body {
	background-color: mistyrose;
}
/***type style***/
li {
	color: indigo;
	margin-left: 25px;
	font-size: 20px;
}

h1 {
	color: rosybrown;
	font-size: 50px;
	position: relative;
	top: 10px;
	left: 10px;
}

h2 {
	font-size: 30px;
	color: plum;
	margin-left: 25px;
}

a:link {
	color: mediumpurple;
	font-size: 20px;
	text-decoration: none;
}

a:visited {
	color: violet;
	text-decoration: none;
}

a:hover {
	color: crimson;
	text-decoration: none;
}
img {
	width: 300px;
}
h3, p, img {
	margin-left: 40px;
}
h3 {
	color: purple;
	font-size: 20px;
}
