h1 {
	font-family: "Dancing Script", cursive;
	font-size: 70px;
	color: white;
	text-align: center;
	margin-top: 45vh;
}
h2 {
	font-family: "Ubuntu", sans-serif;
	font-size: 70px;
	color: dodgerblue;
	text-align: center;
}

@media screen and (min-width: 768px) {
	body {
		background-color: paleturquoise;
	}
	h1 {
		font-size: 100px;
		color: slateblue;
		margin-top: 35vh;
	}

}
@media screen and (max-width: 768px) {
	body {
		background-color: lightpink;
	}
	.large-size {
		display: block;
	}
	.small-size {
		display: none;
	}
	h1 {
		font-family: "Ubuntu", sans-serif;
	}
	h2 {
		font-family: "Dancing Script", cursive;
		font-size: 60px;
		color: mediumpurple;
	}
}